@import "primereact/resources/themes/saga-blue/theme.css";
@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css"; 
@import "primeflex/primeflex.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.p-button{
  background-color:#db0000;
  border-color:transparent;
  align-items: center;
  justify-content:center
}



.p-button.p-component:hover{
  background-color:#a11212;
  border-color: transparent;
}
