@import "primereact/resources/themes/saga-blue/theme.css";
@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css"; 
@import "primeflex/primeflex.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.p-button{
  background-color:#db0000;
  border-color:transparent;
  align-items: center;
  justify-content:center
}



.p-button.p-component:hover{
  background-color:#a11212;
  border-color: transparent;
}

.p-listbox .p-listbox-list .p-listbox-item{
  color:#fff;
  font-weight:bold;
  font-family:sans-serif;
  font-size: x-large;
  /* background-color:rgba(0,0,0,0.8); */
}

.p-listbox .p-listbox-list{
  background-color:rgba(0,0,0,0.8);
  width:70vw;  
}

.p-button.p-button-danger.p-button-text{
  background-color: rgba(0,0,0,0.8);
  border-radius:none;
  color:#6e6868
}
.p-button.p-button-danger.p-button-text:hover{
  background-color:blue;
}

.p-carousel-container {
  display: flex;
  flex-direction: row;
  height: 70vh;
  width:90vw;
  background-color: transparent;
  color: #fff
}

.p-button.p-button-success, .p-buttonset.p-button-success > .p-button, .p-splitbutton.p-button-success > .p-button, .p-fileupload-choose.p-button-success {
  color: #686e68;
  background: rgba(0,0,0,0.8);
  border: none;
}

.mb-3{
  width: 40%;
  height: 40%;
  /* background: #444; */
  /* margin: 0 auto; */
}
.mb-3 img.wide{
  max-width: 100%;
  max-height: 100%;
  height: auto;
}
.mb-3 img.tall{
  max-width: 100%;
  max-height: 100%;
  width: auto;
}
.movie-item{
  max-width: 50%;
}





