/* Colors in Palette - Netflix based
Color     Hex	    RGB
red       #db0000	(219,0,0) 
black     #000000	(0,0,0)
white     #ffffff	(255,255,255)
gray      #564d4d	(86,77,77)
dark red  #831010	(131,16,16) */

.main{
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  overflow-y: hidden;
  background-image: url("../public/img/netflix_cover5.jpg");
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reg_box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  color: white;
  border-radius:2%;
  background-color:rgba(0,0,0,0.8);
  padding: 10%;
  width: 30vw;
  height: 80vh;
  margin-bottom: 5%;
}

.header{
  background-color: none;
  color: #fff;
  width: 100%;
  height: 15%;
  margin-bottom:5%;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.topHeader{
  width:100%;
  display: flex;
  flex-direction:row;
  align-items: space-between;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8)
}

.topHeader Button{
  width:100%
}

.list_movies_page{
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  background-image: url("../public/img/netflix_cover4.jpg");
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.listbox_container{
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home{
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  overflow-y: hidden;
  background-image: url("../public/img/netflix_cover5.jpg");
  background-size: cover;
  color:white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title{
  background-color: rgba(0,0,0,0.8);
  /* background-color: rgba(131,16,16,0.8); */
  padding:1%;
}




